<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1612975631838-719497229ee4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Welcome to  <strong>Exotica</strong> a world of <strong>Exotic Animals</strong>!</h1>
    <p>Find an Exotic pet today.</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search an exotic pet...." />
        <br>
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Explore
        </button>
      </div>
    <% end %>
        <%= link_to 'Create a pet listing', new_pet_path, class: 'btn btn-success' %>
  </div>
</div>
<div class="featured-walker-card" style="width: 100%; display: inline-block;">
                        <a href="https://www.petbnb.nl/en/dog-sitting/netherlands/landgraaf/the-zen-dog-house-623" target="_blank" style="text-decoration: none;" tabindex="0">

                        <div class="featured-walker-pic" style="background-color:#f8f8f8;background-image:url(https://cdn.petstatic.com/media/profile/avatar/2174.jpg?v=1472800894)"></div>
                        <div class="featured-walker-text-card">
                            <div class="featured-walker-name">Jolanda</div>
                            <div class="featured-walker-city">Landgraaf</div>
                            <div class="featured-walker-review">
                                                                    <div class="rating-walking">
                                        <span class="icon-paw "></span>
                                        <span class="icon-paw "></span>
                                        <span class="icon-paw "></span>
                                        <span class="icon-paw "></span>
                                        <span class="icon-paw "></span>
                                    </div>
                                                            </div>

                            <div class="featured-walker-review-count">
                                347 reviews                            </div>
                            <div class="featured-latest-review">
                                    "Doortje was, ondanks dat ze 3 weken niet bij jolanda geweest was, blij om haar te zien en naar binnen te gaan. Ze voelt zich zichtbaar op haar gemak..."
                            </div>
                            <div class="featured-latest-reviewer">
                                    <span class="reviewer-name">Marisha &amp; Doortje </span>
                            </div>
                        </div>
                        </a>
                    </div>
