
<div class="container">
  <div class="text-center">
    <h1> Congratulations! </h1>
  <div class="card-product">
      <%= cl_image_tag @booking.pet.photos[0], crop: :fill %>
    <div class="card-product-infos">
      <h2>You have booked <%= @booking.pet.name %>!</h2>
      <p>From: <%= @booking.start_date.to_time.strftime("%e %b %Y") %></p>
      <p>To: <%= @booking.end_date.to_time.strftime("%e %b %Y") %></p>
    </div>
  </div>
</div>
</div>
