.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  text-align: center;
}

a.card-product:hover {
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-align: left;
  color: black;
}

.pets-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 16px;
  margin: 15px;
  text-align: left !important}

.booking-grid{
 display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-row-start: span;
  grid-gap: 16px;
  margin: 15px;
  border: 3px solid black;
}


.side-card-info{
 display: flex;
 justify-content: space-between;

}

// .show-grid{
// display:flex;
// justify-content: space-between;
// margin-left: 10px;
// }

.round-img-card{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
