
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.info {
  font-size: 28px;
  text-align: center;
}

.banner p {
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.bg-white {
  opacity: 0.9;
}

.user-reviews {
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  margin: 15px;
}

.checked {
  color: orange;
}

.review-box {
  margin: 40px;
  padding: 50px;
  border-bottom: 2px solid grey;
}

.review-title  {
  text-align: center;
  padding: 10px;
}
